* {
    border: 1px solid red;
}

body {
    margin: 0;
}

/* TYPE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 120px;
    margin: 5% 0;
    transition: 1s;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}
.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 220px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    transition: 0.9s;
    margin: 5% 0;
    line-height: 240px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    transition: 0.8s;
    display: inline;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 46px;
    transition: all 0.8s;
    display: inline;
    margin: 5% 0 1% 0;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.8s;
    margin: 1% 0;
    padding: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    transition: all 0.8s;
    color: #58585B;
    line-height: 150%;
    margin: 3% 0;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: 0.9s;
    color: #58585B;

}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;
    font-size: 14px;
    /* width: 100%;     */
    z-index: 999;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background: #fff;
    position: relative;
    box-shadow: 2px 2px 15px #C4C4C4
}
ul li {
    display: inline-block;
}

ul li a {
    color:#58585B;
    text-decoration: none;
    padding: 10px;
    display: block;
}

ul li:hover {
    background: lightgrey;
}
ul li:last-of-type:hover {
    background: lightgrey;
}
.last:hover {
    background: lightgrey;
}
ul ul {
    position: absolute;
    min-width: 200px;
    background: #fff;
    display: none;
}

ul ul li {
    display: block;
    background: #fff;
}

ul li:hover ul {
    display: block;
}

ul li i {
    color: #292929;
    float: right;
    padding-left: 20px;
}

/* LAYOUT */

article {
    margin: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.hero {
    padding: 10% 0 10% 0;
}

.hero-item {
    width: 80%;
    margin: auto;
}

.box-item {
    width: 25%;
    margin: auto;
    justify-content: center;
    padding: 0% 2% 4% 2%;
}

.main-title{
    margin: 20% 15%;
    text-align: left;
    justify-content: center;
}


.main-title-right {
    margin: 15% 35% 15% 1%;
    width: 65%;
    text-align: right;
    justify-content: left;
}

.title-item {
    margin: 5% 10% 2% 15% ;
    text-shadow: 4px 4px 2px #fff;
}

body > section.scrollAnim.anim > article > div > div.title-item {
    padding: 15% 0 0 0;
}

.body-item {
    width: 49%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-link {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top:-5%;
    cursor: pointer;
}
.mobile-row {
    padding: 8% 0 0 0;
}

.body-caption {
    width: 55%;
    
}


div.caption-1 {
    text-shadow: 4px 4px 2px #fff;
    background-image: url(../imgs/text.png);
    background-repeat: space;
    padding: 2.5% 5%;
}

.center {
    text-align: center;
    padding-top: 5%;
    margin: auto;
    align-items: center;
}

.figcenter {
    text-align: center;
    padding: 5%;
}

.left {
    padding-right: 35%;
}

.right {
    padding-left: 35%;
}

.logo {
    width: 30%;
}

.icon {
    height: 30%;
    margin-top: 5%;
}

.link {
    display: flex;
    align-items: center;
    margin-left: -5px;
    padding: 5% 5% 0 0;
    text-transform: uppercase;
}

.link div:nth-child(2) {
    margin-left: 5px;
}

.underline {
    text-decoration: underline;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 999;
}

.sq-image {
    height: 234px;
    width: 234px;

}

.w-image {
    width: 910px;
    height: 400px;
    margin: 48px auto;
    border-radius: 10px;
}

.f-image {
    height: 620px;
    margin: 48px auto;
    border-radius: 10px;
}

.imagebg-p {
    background-image: url(../imgs/purple.png);
    background-repeat: space;
    background-position-x: center;
    padding: 1%;
    margin: 0 15%;
}

.imagebg-b {
    background-image: url(../imgs/blue.png);
    background-repeat: space;
    background-position-y: center;
    padding: 1%;
    margin: 0 15%;
}
.imagebg-w {
    background-image: url(../imgs/blue.png);
    background-repeat: space;
    background-position-y: center;

}
.w-sm-img {
    height: 272px;
    width: 402px;
    margin: 5% 3%;
    border-radius: 10px;
}

.bg-c {
    background-image: url(../imgs/text.png);
    background-repeat: space;
    background-position-y: center;
    padding: 5%;
    margin: 10%;
}

.video {
    padding: 5% 10%;
    border-radius: 10px;
}

.img-row-right {
    display: flex;
    flex-direction: row;
    padding-left: 336px;
    padding-right: 0;
    width: 400px;
}
.row-stats {
    display: flex;
    flex-direction: row;
    padding: 2% 0 0 0;
    justify-content: space-between;
}
.row-stats h4 {
    padding: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 10px;
    float: right;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #58585B;
    line-height: 130%;
}

.pt-48 {
    margin-top: 2.8%;
}

.p-24 {
    padding: 4% 0 0 0;
}
.p-96 {
    padding: 11% 0 0 0;
}
.p-120 {
    padding: 8% 0 0 0;
}
.pl-167 {
    text-align: right;
}
.pl-15 {
    padding-left: 15%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #009ACD;
    border: none;
    border-radius: 25px;
}
  
  .button:hover {background-color: rgba(0, 154, 205, 0.5)}
  
  .button:active {
    background-color: #48BEE3;
    transform: translateY(4px);
  }

.footer-item {
    width: 40%;
    margin: auto;
    padding-left: 42%;
    padding: 5%;

}
footer {
    background: #58595b30;
}

footer p {
    font-size: 14px;
    padding: 0;
    margin: 2% 0;
}
footer h5 {
    font-size: 14px;
    padding: 0;
    margin: 0;
}
.footer {
    background-color:#58595B;
    display: block;
    height: 48px;
}

h6.foot-tag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 1%;
    margin: 0;
}
/* BACKGROUNDS */

#b01 {
    position: absolute;
    width: 100%;
    height: 4800px;
    z-index: -8;
}

#section01 {
    position: relative;
    /* z-index: -8; */
}

#svgbg4 {
    transform: translate(795px, 135px);
}

#svgbg5 {
    transform: translate(650px, -100px);
}

#svgbg6 {
    transform: translate(450px, 1850px);
}

#svgbg7 {
    transform: translate(-180px, 250px);
}

#b02 {
    position: absolute;
    width: 100%;
    z-index: -8;
    background: linear-gradient(#fff, #E1D5E8, #E1D5E8, #E1D5E8, #fff);
    height: 3400px;
}

#section02 {
    margin: auto;
}

#svgbg9 {
    transform: translate(662px, 174px);
}

#svgbg11 {
    transform: translate(92px, 774px);
}

#svgbg12 {
    transform: translate(862px, 1474px);
}

#svgbg13 {
    transform: translate(962px, 1974px);
}

#b03 {
    position: absolute;
    width: 100%;
    z-index: -8;
    background: linear-gradient(#fff, #b4d88db6,#b4d88db6, #b4d88d4d, #fff);
    height: 2600px;
}

#section03 {
    margin: auto;
}
#svgbg14 {
    transform: translate(650px, 0px);
}
#svgbg15 {
    transform: translate(862px, 1674px);
}
#svgbg16 {
    transform: translate(962px, 1974px);
}

#svgbg17 {
    transform: translate(762px, 2974px);
}


#b04 {
    position: absolute;
    width: 100%;
    z-index: -8;    
    height: 3400px;
    background: linear-gradient(#fff,#00a6b87b, #00a6b84f, #00a6b814, #fff);
}

#section04 {
    margin: auto;
}
#svgbg18 {
    transform: translate(635px, 120px);
}
#svgbg19 {
    transform: translate(462px, 374px);
}
#svgbg20 {
    transform: translate(762px, 774px);
}

#svgbg21 {
    transform: translate(262px, 1274px);
}

#b05 {
    position: absolute;
    width: 100%;
    z-index: -2;    
    height: 3497px;
    background: linear-gradient(#fff,#009acdb5, #009acdb5, #009acd3c,#fff);
}

#section05 {
    margin: auto;
}

#b06 > div > div > div > h3 {
    padding-top: 5%;
}

.bg{
    width: 100%; 
    height: 998px;
}
/* COLOURS */

.d-blue {
    color: #009ACD;
}

.bg-blue {
    background-color: #009ACD;
}

.d-grey {
    color: #58585B;
}

.d-green {
    color: #84C446;
}

.bg-green {
    background-color: #84C446;
}

.d-purple {
    color: #9064AA;
}

.bg-purple {
    background-color: #9064AA;
}

.d-teal {
    color: #00A6B8;
}

.bg-teal {
    background-color: #00A6B8;
}

.white {
    color: #fff;
}


/* IMAGES */

#ceo {
    background-image: url(../imgs/ceo.jpg);
    background-size: cover;
}

#pres {
    background-image: url(../imgs/pres.jpg);
    background-size: cover;
}

#board {
    background-image: url(../imgs/board.png);
    background-size: contain;
    background-position-y: center;
}

#connected {
    background-image: url(../imgs/connected.png);
    background-size: cover;
}

#ndis {
    height: 100vh;
    background-image: url(../imgs/Kylie.png);
    background-size: cover;

}

#gsman {
    background-image: url(../imgs/gsman.jpg);
    background-size: cover;
}

#gswoman {
    background-image: url(../imgs/gswoman.jpg);
    background-size: cover;
}

#talking {
    background-image: url(../imgs/talking.jpg);
    background-size: cover;
}

#river {
    background-image: url(../imgs/river.jpg);
    background-size: cover;
}

#reading {
    background-image: url(../imgs/reading.jpg);
    background-size: cover;
}

#edwards {
    background-image: url(../imgs/edwards.jpg);
    background-size: cover;
}


/* STAT BOXES */

.box { 
    width: 70%;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    padding: 5%;
}
.box h4 { 
    margin: 0;
}

.overlay {
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.overlay-chart {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin: -15% 0 0 0;
}


.body-box {
    padding: 1% 4%;
    margin: 5%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
}

.body-box-lg {
    padding: 2% 4%;
    margin: 20% auto;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
}
.box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:3%;
}

.wide-box-left {
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    width:110%;
    margin: 5% -10%;


}

.wide-box {
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    width:120%;
    margin: 5% 10%;

}

.number-box {
    width:60%;    
}

.number-text {
    width:40%;
    padding: 1% 5%;
}

.box-left {
    margin: 10% 0;
    margin-left: 45%;
}

.box-right {
    margin: 10% 0;
    margin-left: -5%;
}

.static-chart-1 {
    width: 650px;
    height: 400px;
    background-image: url(../imgs/distress.png);
    background-size: cover;
    background-position-x: center;
    margin: 0 50% 0 -5%;
}

.static-chart-2 {
    width: 650px;
    height: 370px;
    background-image: url(../imgs/growth.png);
    background-size: cover;
    background-position-x: center;
    margin: 0 50% 0 -5%;
}
/* RESPONSIVE MAP */

.googleMap{
    position: relative;
    padding-bottom: 50%;
    width: 80%;
    margin: auto;
  }
  
  .googleMap iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
/* STATS COUNTER */

#counter-section-container {
    text-align: center;
    animation: progress 2s ease-out forwards;
}

#counter-box-container {
    overflow: hidden;
    display: inline-block;
}

/* CIRCULAR STATS */

.single-chart {
    width: 250px;
    padding: 2% 5%;
    justify-content: space-evenly;
    text-align: center; 
}

.circular-chart {
    display: block;
    margin: 5% auto;
    padding-top: 5%;
    max-width: 600px;
    max-height: 350px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    stroke-width: 0;
    fill: none;
}

.circle.onScroll {
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 2s ease-out forwards;
}

.circular-chart.onScroll {
    animation: progress 6.5s;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.purple .circle {
    stroke: #9064AA;
}

.circular-chart.blue .circle {
    stroke: #00A3D8;
}

.circular-chart.green .circle {
    stroke: #84C446;
}

.circular-chart.teal .circle {
    stroke: #00B3C3;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}


/* SCROLL */

.scrollAnim {
    height: 100%;
    opacity: 0;
    transition: 0.9s;
    transition-delay: 0.4s all;
    /* margin: 24px auto; */
}

.scrollAnim:first-of-type {
    margin-top: 0;
}

.scrollAnim.anim {
    opacity: 1;
}

.anim-top,
.anim-top img {
    transform: translate(0, 80px);
}

.anim-left,
.anim-left img {
    transform: translate(-150px, 0);
}

.anim-right,
.anim-right img {
    transform: translate(150px, 0);
}

.anim-bottom,
.anim-bottom img {
    transform: translate(0, -100px);
}

.anim .anim-top,
.anim .anim-top img {
    transform: translate(0, 0);
}

.anim .anim-left,
.anim .anim-left img {
    transform: translate(0, 0);
}

.anim .anim-right,
.anim .anim-right img {
    transform: translate(0, 0);
}

.anim .anim-bottom,
.anim .anim-bottom img {
    transform: translate(0, 0);
}
/* 
.scroller {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
} */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}


/* FADES */

.fade-in {
    animation: show 1.5s both;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* QUOTE */

.quote {
    display: flex;
    width: 45%;
    margin: 5% auto;
    padding: 5%;
    border-radius: 15px;
    background-image: linear-gradient(#b497c73a, #b497c714);
    box-shadow: 5px 7px 23px #a0a0a07b;
}


#quote-marks {
    /* transform: translate(650px, 5px); */
    float: right;
    padding: 2%;
}
.quote-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    transition: all 0.8s;
    color: #9064AA;
    line-height: 150%;
    margin: 7% 0;
    /* text-shadow: 2px 1px 2px #48bfe376; */
}

.highlight{
    display:inline-block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 50%,#48bfe341 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.highlight2{
    display:inline-block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 50%,#48bfe341 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 1.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight3{
    display:inline-block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 50%,#48bfe341 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 2.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.highlight4{
    display:inline-block;
    width: max-content;
    background-size: 200% auto; 
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0) 50%,#48bfe376 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active,
.highlight2.active,
.highlight3.active,
.highlight4.active {
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}


/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
@media(max-width: 1524px) {
    #b05 {
        position: absolute;
        width: 100%;
        z-index: -8;    
        background: linear-gradient(#fff,#00a6b87b, #00a6b84f, #00a6b814, #fff);
    }
    
    #section05 {
        margin: auto;
    }
    
/* TYPE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 118px;
    margin: 5% 0;
    transition: 0.6s;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}
.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 218px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    transition: 0.4s;
    margin: 5% 0;
    line-height: 240px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 78px;
    transition: 0.4s;
    display: inline;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 44px;
    transition: all 0.4s;
    display: inline;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    transition: all 0.4s;
    margin-top: 5% 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.4s;
    color: #58585B;
    line-height: 150%;
    margin: 3% 0;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition: 0.4s;
    color: #58585B;

}

#section05 > div:nth-child(2) > div.content.p-120.body-item {
    padding-top: 5%;
}
}

/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
/* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP *//* MID HIRES DESKTOP */
@media(max-width: 1324px) {

/* TYPE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 100px;
    margin: 5% 0;
    transition: 0.6s;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}
.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 200px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    transition: 0.6s;
    margin: 5% 0;
    line-height: 240px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    transition: 0.5s;
    display: inline;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 56px;
    transition: all 0.8s;
    display: inline;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.5s;
    margin-top: 5% 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    transition: all 0.5s;
    color: #58585B;
    line-height: 150%;
    margin: 3% 0;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    transition: 0.5s;
    color: #58585B;

}

.p-120 {
    padding: 8% 0 0 0;
}

.p-96 {
    padding: 5.6% 0 0 0;
}

.left {
    padding-right: 35%;
}

.right {
    padding-left: 35%;
}

#b06 > div > div > h3 {
    margin-top: 30%;
}

.static-chart-2 {
    width: 450px;
    height: 310px;
    background-image: url(../imgs/growth.png);
    background-size: cover;
    background-position-x: center;
    margin: 0 50% 0 -5%;
}

#section05 > div:nth-child(2) > div.overlay {
    display: flex;
    justify-content: center;
    margin: 2% 0 3% 0;
}

}

/* SMLL HIRES DESKTOP */
@media(max-width: 1224px) {

    /* TYPE */
    h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 100px;
        margin: 5% 0;
        transition: 0.7s;
        display: block;
        padding: 0;
        line-height: 120%;
        text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
    }
    .t-outlined {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 200px;
        -webkit-text-fill-color: #009ACD;
        /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: #fff;
        transition: 0.5s;
        margin: 5% 0;
        line-height: 240px;
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 60px;
        transition: 0.5s;
        display: inline;
    }
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 56px;
        transition: all 0.5s;
        display: inline;
    }
    h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        transition: all 0.5s;
        margin-top: 5% 0;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        transition: all 0.5s;
        color: #58585B;
        line-height: 150%;
        margin: 3% 0;
    }
    h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 13px;
        transition: 0.5s;
        color: #58585B;
    
    }
    
    .left {
        padding-right: 35%;
    }
    
    .right {
        padding-left: 35%;
    }
    
    
    .box-item {
        width: 35%;
        /* margin: 0; */
        justify-content: center;
       
    }
      
.hero {
    padding: 5% 0 5% 0;
}
.p-120 {
    padding: 8% 0 0 0;
}

.p-96 {
    padding: 5.6% 0 0 0;
}
#b05 {
    position: absolute;
    width: 100%;
    z-index: -8;    
    height: 3000px;
    background: linear-gradient(#fff,#009ACD, #009acdb6, #009acd66, #fff);
}
}

/* TABLET */  /* TABLET */  /* TABLET */  /* TABLET */  /* TABLET */  /* TABLET */  /* TABLET */  
@media(max-width: 1024px) {

body {
    margin: 0 !important;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: left;
    position: fixed;
    font-size: 14px;
    z-index: 9999;
}

#section01 > article.scrollAnim.anim > div {
    padding: 15% 0;
}

#section05 > div:nth-child(2) > div.content.p-120.body-item > h3 {
    padding: 10% 0 0 0;
}
.p-120 {
    padding: 13% 0 0 0;
}
.p-96 {
    padding: 6.5% 0 0 0;
}

/* TYPE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    margin: 12px 0;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}
.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 110px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    margin: 12px -5px;
    line-height: 120px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
    display: block;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 33px;
    margin: 0;
}
h4 {
    margin: 2% 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;

    padding: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #58585B;
    line-height: 150%;
    margin: 2% 0;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #58585B;
    /* text-align: center; */
}

.main-title-right {
    margin: 10% 35% 15% 15%;
    text-align: right;
    justify-content: left;
}
.wide-box {
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    width:100%;
    margin: 5% 10%;

}

.number-box {
    width:30%;    
}

.number-text {
    width:40%;
    padding: 1% 5%;
}

/* IMAGES */
.icon {
    height: 24px;
    margin-top: 5%;
}
/* first boxes */
.mobile-row {
    flex-direction: column;  
    display: flex;
    align-content: center;
    /* justify-items: center; */
}

.left {
    display: inline-block;
    padding: 2%;
}
.right {
    display: inline-block;
    padding: 2%;

}
.box-item {
    width: 40%;
    flex-direction: row;
    margin: auto;
    padding: 5%;
    /* margin: 4%; */
}
.body-item {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-box {
    padding: 0%;
    margin: 0%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
}

.body-box-lg {
    padding: 0%;
    margin: 0%;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
}
figcaption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #58585B;
    line-height: 130%;
}

/* BOX ITEMS */
.box { 
    width: 60%;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    padding: 5%;
}
.box h4,
.box p { 
    margin: 0;
    font-size: smaller;
}

/* SVG */
.bg{
    width: 100%; 
    height: 452px;
}
.static-chart-1 {
    width: 450px;
    height: 200px;
    background-image: url(../imgs/distress.png);
    background-size: cover;
    background-position-x: center;
}

.static-chart-2 {
    width: 450px;
    height: 250px;
}

.sq-image {
    height: 134px;
    width: 134px;
}

.w-image {
    width: 505px;
    height: 213.5px;
    margin: 24px auto;
    border-radius: 5px;
}

.f-image {
    height: 300px;
    margin: 5% auto;
    border-radius: 4px;
}

.imagebg-p {
    background-image: url(../imgs/purple.png);
    background-repeat: space;
    padding: 1%;
    margin: 0 15%;
}

.imagebg-b {
    background-image: url(../imgs/blue.png);
    background-repeat: space;
    background-position-y: center;
    padding: 1%;
    /* margin: 0 15%; */
}

.imagebg-w {
    background-image: url(../imgs/blue.png);
    background-repeat: space;
    background-position-y: center;
}

.bg-c {
    background-image: url(../imgs/text.png);
    background-repeat: space;
    background-position-y: center;
    padding: 5%;
    margin: 10%;
}

.video {
    padding: 5% 10%;
}

.img-row-right {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    width: 200px;
}
.row-stats {
    display: flex;
    flex-direction: row;
    padding: 2% 0 0 0;
    justify-content: space-between;
}
.row-stats h4 {
    padding: 0;
    margin: 0;
}

.w-sm-img {
    height: 186px;
    width: 301px;
    margin: 5% 3%;
}

.single-chart {
    width: 150px;
    padding: 2% 5%;
    justify-content: space-evenly;
    text-align: center;
}


.button {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #009ACD;
    border: none;
    border-radius: 25px;
  }
  
/* QUOTE */

.quote {
    display: flex;
    width: 45%;
    margin: 2.5% auto;
    padding: 5%;
    border-radius: 15px;
    background-image: linear-gradient(#b497c73a,#b497c717);
}

#quote-marks {
    scale: 20%;
}
.quote-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    transition: all 0.4s;
    color: #9064AA;
    line-height: 150%;
    margin: 7% 0;   
}

.overlay {
    display: flex;
    justify-content: center;
    margin: 1% 0;
}
#section05 > div:nth-child(2) > div.body-link.p-24 > div > a {
    padding: 2% 0 0 4%;
}

#b05 {
    position: absolute;
    width: 100%;
    z-index: -8;    
    height: 2800px;
    background: linear-gradient(#fff,#009ACD, #009acdb6, #009acd46, #fff);
}

}

/* IPAD */
@media (max-width:801px)  {

/* first boxes */
.mobile-row {
    flex-direction: row;  
    display: flex;
    align-content: center;
    justify-items: center;
    padding: 3%;
}
#b05 {
    position: absolute;
    width: 100%;
    z-index: -8;    
    height: 2600px;
    background: linear-gradient(#fff,#009ACD, #009acdb6, #009acd46, #fff);
}
h4 {
    display: block;
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
  
}

/* IPAD small */
@media (max-width:602px)  {
.hero {
    padding: 10% 0 0 10%;
}

.title-item {
    margin: 2% 10% 2% 10%;
    text-shadow: 4px 4px 2px #fff;
}

/* first boxes */
.mobile-row {
    display: flex;
    flex-direction: row;  
    padding: 0%;
    margin: 0 10%;
}

.box-item {
    width: 40%;
    flex-direction: row;
    margin: auto;
    padding: 0%;
    /* margin: 4%;*/
}
#b05 {
    position: absolute;
    width: 100%;
    z-index: -8;    
    height: 1400px;
    background: linear-gradient(#fff,#00a6b87b, #00a6b84f, #00a6b814, #fff);
}
h4 {
    display: block;
    margin-block-start: 1%;
    margin-block-end: 1%;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 999;
    font-size: 12px;
}
#section02 > div:nth-child(33) > div.row.imagebg-b > div,
#Housing > div.row.scrollAnim.imagebg-b.anim > div {
    display: flex;
    flex-direction: column;
}

.main-title-right {
    margin: 1% 15% 15% 15%;
    text-align: right;
    justify-content: left;
}

.number-text {
    width: 40%;
    padding: 1% 15%;
}
.static-chart-1 {
    width: 350px;
    height: 200px;
    background-image: url(../imgs/distress.png);
    background-size: cover;
    background-position-x: center;
}

.static-chart-2 {
    width: 350px;
    height: 250px;
}

.sq-image {
    height: 84px;
    width: 84px;
}

.w-image {
    width: 405px;
    height: 213.5px;
    margin: 24px auto;
    border-radius: 5px;
}

.f-image {
    height: 260px;
    /* margin: 5%; */
    border-radius: 4px;
}

.imagebg-p {
    background-image: url(../imgs/purple.png);
    background-repeat: contain;
    padding: 10%;
    margin: 0;
}

.imagebg-b {
    background-image: url(../imgs/blue.png);
    background-repeat: contain;
    background-position-x: center;
    padding: 3%;
    margin: 0 15%;
}

.imagebg-w {
    background-image: url(../imgs/blue.png);
    background-repeat: contain;
    background-position-y: center;
}

.bg-c {
    background-image: url(../imgs/text.png);
    background-repeat: contain;
    background-position-y: center;
    padding: 5%;
    margin: 10%;
}
}


@media (max-width:480px)  { 

.logo {
    width: 40%;
}

.hero-item {
    padding: 25% 0;
}
.hero {
    padding: 5%;

}
.main-title {
    margin: 4% 10%;
    text-align: left;
    justify-content: center;
}
.main-title-right {
    margin: 0 15% 15% 0;
    width: 90%;
    text-align: right;
    justify-content: left;
}

.number-text {
    width: 55%;
    padding: 1% 2% 1% 17%;
}
    
/* first boxes */
.mobile-row {
    display: flex;
    flex-direction: column;
    margin: 5% 0%;
}

.body-item {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
}
.p-120{
    padding: 9% 0 0 0;
}

#section05 > div:nth-child(3) > div > h3{
    padding: 30% 0 0 0;
}
#section05 > div:nth-child(2) > div.body-link.p-24 > div > a > div {
    padding-bottom: 5%;
}
/* 
#section02 > div:nth-child(40) > div.row.imagebg-b > div {
    display: flex;
    flex-direction: column;
} */
/* TYPE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 37px;
    margin: 12px 0;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}
.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    margin: 12px -5px;
    line-height: 120px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 27px;
    display: block;
}
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #58585B;
    line-height: 150%;
    margin: 2% 0;
}
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: #58585B;
    /* text-align: center; */
}
a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 999;
    font-size: 9px;
}
.single-chart {
    width: 90px;
    padding: 2% 5%;
    justify-content: space-evenly;
    text-align: center;
}

.row-stats {
    display: flex;
    flex-direction: column;
    padding: 2% 0 0 0;
    justify-content: space-between;
}

.box {
    width: 40%;
    background-color: #fff;
    box-shadow: 5px 7px 23px #a0a0a07b;
    padding: 4%;
}
.box-right {
    margin: 10% 0;
    margin-left: 5%;
}

.box-item {
    width: 60%;
    flex-direction: row;
    margin: auto;
    padding: 0%;
    /* margin: 4%; */
}
#quote-marks {
    display: none;
}

.quote {
    display: flex;
    width: 65%;
    margin: 5% auto;
    padding: 5%;
    border-radius: 15px;
    background-image: linear-gradient(#b497c73a, #b497c714);
    box-shadow: 5px 7px 23px #a0a0a07b;
}
figcaption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 9px;
    color: #58585B;
    line-height: 130%;
}
 
.blue {
    color: #009ACD !important;
}

.grey{
    color: #58585B;
}


.sq-image {
    height: 60px;
    width: 60px;

}

.w-image {
    width: 200px;
    height: 90px;
    margin: 48px auto;
    border-radius: 10px;
}

.f-image {
    height: 180px;
    height: 150px;
    /* margin: 48px auto; */
    border-radius: 10px;
}

.imagebg-p {
    background-image: url(../imgs/purple.png);
    background-size: contain;
    background-position-x: center;
    padding: 5%;
}

.imagebg-b {
    background-image: url(../imgs/blue.png);
    background-size: contain;
    background-position-y: center;
    padding: 1%;
    margin: 0 2%;
}
.imagebg-w {
    background-image: url(../imgs/blue.png);
    background-repeat: space;
    background-position-y: center;

}

.w-sm-img {
    height: 96px;
    width: 201px;
    margin: 5% 3%;
    border-radius: 10px;
}

.bg-c {
    background-image: url(../imgs/text.png);
    background-repeat: space;
    background-position-y: center;
    padding: 5%;
    margin: 10%;
}

.video {
    padding: 5% 10%;
    border-radius: 10px;
}

.quote-p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 11px;
    transition: all 0.8s;
    color: #9064AA;
    line-height: 150%;
    margin: 7% 0;
}
.body-item {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.static-chart-2,
.static-chart-1{
    width: 250px;
    height: 140px;
    background-image: url(../imgs/growth.png);
    background-size: cover;
    background-position-x: center;
    margin: 1%;
}

#section05 > div:nth-child(2) > div.content.p-120.body-item > h3 {
    padding-top: 10%;
}
.googleMap {
    position: relative;
    padding-bottom: 70%;
    width: 90%;
    margin: auto;
}

footer p {
    font-size: 10px;
    padding: 0;
    margin: 2% 0;
}

footer h5 {
    font-size: 12px;
    padding: 0;
    margin: 2% 0;
}

.anim-left,
.anim-left img {
    transform: translate(-50px, 0);
}

.anim-right,
.anim-right img {
    transform: translate(50px, 0);
}


}