/* COLOURS: 
mid-blue:  #00AFDD
light blue: #48BEE3

mid-grey: #808284
light-grey:  #A7A9AB

mid-green: #9CCD69
light-green:  #B4D88D

mid-purp: #A17CB8
light-purp: #B497C7

mid-teal: #00B3C3
light-teal: #53C2CF

.bg-grey {
  background-color: #58585B;
}
*/

body {
    margin: 0;
    border: 3px dotted lawngreen;
}

div {
    border: 2px dotted darkgoldenrod;
}

#menu-open {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-bottom-left-radius: 50%;
    padding: 20px;
    padding-left: 25px;
}

article {
    margin: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border: 2px dashed darkgreen;
}

.row {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 48px;
    border: 1px solid blue;
}

.column {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    padding-top: 48px;
    border: 1px solid orange;
    /* width: 1028px; */
    /* width: 100vw; */
}

.hero {
    padding: 160px 0 200px 0;
}

.title {
    margin: 240px 0;
    padding-right: 240px;
    text-align: right;
}

.body-item {
    width: 653px;
    margin: auto;
    border: 1px solid pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-item {
    width: 402px;
    margin: auto;
    justify-content: center;
    padding: 24px;
}

.left {
    padding-right: 35%;
}

.right {
    padding-left: 35%;
}

.logo {
    width: 285px;
}

.icon {
    height: 34px;
    margin-top: 48px;
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
    margin-left: -5px;
}

.link div:nth-child(2) {
    margin-left: 5px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.sq-image {
    height: 234px;
    width: 234px;
}

.f-image {
    width: 1010px;
    height: 427px;
    margin: 48px auto;
    box-shadow: 5px 7px 23px #009ACD;
    border-radius: 5px;
}

.img-row {
    display: flex;
    flex-direction: row;
    padding-left: 336px;
    padding-right: 0;
    margin: 0;
}

figure {
    padding: 0;
    margin: 10px;
    float: right;
}

figcaption {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #58585B;
}

.p-48 {
    margin-top: 48px;
}

.p-167 {
    padding-left: 167px;
}


/* BACKGROUNDS */

#b01 {
    position: absolute;
    width: 100%;
    height: 2400px;
    z-index: -8;
}

#b02 {
    position: absolute;
    width: 100%;
    z-index: -8;
    background: linear-gradient(#fff, #E1D5E8, #e1d5e8d0, #fff);
    height: 2400px;
}

#section01 {
    /* background: linear-gradient(#48bfe376, #fff); */
    position: relative;
    /*width: fit-content; */
    z-index: -10;
}

#svgbg4 {
    transform: translate(795px, 135px);
}

#svgbg5 {
    transform: translate(650px, -100px);
}

#svgbg6 {
    transform: translate(450px, 1850px);
}

#svgbg7 {
    transform: translate(-180px, 250px);
}

#section02 {
    margin: auto;
}

#svgbg9 {
    transform: translate(662px, 174px);
}

#svgbg11 {
    transform: translate(92px, 774px);
}

#svgbg12 {
    transform: translate(862px, 1474px);
}

#svgbg13 {
    transform: translate(962px, 1974px);
}


/* TYPE */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 120px;
    margin: 24px 0;
    transition: 1s;
    display: block;
    padding: 0;
    line-height: 120%;
    text-shadow: 2px 2px 0 rgba(255, 255, 255, .25);
}

.t-outlined {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 220px;
    -webkit-text-fill-color: #009ACD;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #fff;
    transition: 0.9s;
    margin: 24px -5px;
    line-height: 240px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 80px;
    transition: 0.9s;
    display: block;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 46px;
    transition: all 0.8s;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 24px;
    transition: all 0.8s;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: all 0.8s;
    color: #58585B;
}


/* COLOURS */

.d-blue {
    color: #009ACD;
}

.bg-blue {
    background-color: #009ACD;
}

.d-grey {
    color: #58585B;
}

.d-green {
    color: #84C446;
}

.bg-green {
    background-color: #84C446;
}

.d-purple {
    color: #9064AA;
}

.bg-purple {
    background-color: #9064AA;
}

.d-teal {
    color: #00A6B8;
}

.bg-teal {
    background-color: #00A6B8;
}

.white {
    color: #fff;
}


/* IMAGES */

#ceo {
    background-image: url(../imgs/ceo.jpg);
    background-size: cover;
}

#pres {
    background-image: url(../imgs/pres.jpg);
    background-size: cover;
}

#board {
    background-image: url(../imgs/board.png);
    background-size: cover;
    image-orientation: from-image;
}


/* DELAYS */

.delay03 {
    transition-delay: 0.3s;
}

.delay1 {
    transition-delay: 1s;
}

.delay17 {
    transition-delay: 8s;
}


/* STAT BOXES */

.box {
    width: 486px;
    height: 328px;
    background-color: #fff;
    box-shadow: 5px 7px 23px #9064AA;
    border-radius: 5px;
    padding: 51px;
}


/* .box:first-child {
    margin: 85px 0;
    margin-left: 335px;
} */

.box-left {
    margin: 85px 0;
    margin-left: 343px;
}

.box-right {
    margin: 85px 0;
    margin-left: 83px;
}

.open-right {
    animation: open-right 3s;
}

@keyframes open-right {
    from {
        width: 0px;
        height: 328px;
    }
    to {
        width: 486px;
        height: 328px;
    }
}

.open-bottom {
    animation: open-bottom 3s;
}

@keyframes open-bottom {
    from {
        width: 486px;
        height: 0;
    }
    to {
        width: 486px;
        height: 328px;
    }
}


/* STATS COUNTER */

#counter-section-container {
    /* width: 100%; */
    text-align: center;
}

#counter-box-container {
    /*border: 1px solid #999999;*/
    overflow: hidden;
    display: inline-block;
}


/* .counter {
    font-size: 50px;
} */


/* SCROLL */

.scrollAnim {
    height: 100%;
    opacity: 0;
    transition: 2s;
    width: 1024px;
    margin: 24px auto;
}

.scrollAnim:first-of-type {
    margin-top: 0;
}

.scrollAnim .content {
    border: 1px solid pink;
}

.center {
    margin: auto;
}

.scrollAnim.anim {
    opacity: 1;
}

.anim-top,
.anim-top img {
    transform: translate(0, 80px);
}

.anim-left,
.anim-left img {
    transform: translate(-150px, 0);
}

.anim-right,
.anim-right img {
    transform: translate(150px, 0);
}

.anim-bottom,
.anim-bottom img {
    transform: translate(0, -100px);
}

.anim .anim-top,
.anim .anim-top img {
    transform: translate(0, 0);
}

.anim .anim-left,
.anim .anim-left img {
    transform: translate(0, 0);
}

.anim .anim-right,
.anim .anim-right img {
    transform: translate(0, 0);
}

.anim .anim-bottom,
.anim .anim-bottom img {
    transform: translate(0, 0);
}

.scroller {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.2;
    }
}


/* FADES */

.fade-in {
    animation: show 1.5ss both;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* MENU ICON  */

.bar1,
.bar3 {
    width: 35px;
    height: 3px;
    background-color: #58595B;
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: 6px;
}

.bar2,
.bar4 {
    width: 30px;
    height: 3px;
    background-color: #58595B;
    border-radius: 3px;
    transition: 0.4s;
    margin-bottom: 6px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-7px, 7px);
    transform: rotate(-45deg) translate(-15px, 15px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}

.change .bar4 {
    opacity: 0;
}